<div  id="container">
    <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-6 d-flex align-items-center" id="text-container">
            <div>
                <div class="content"> <!-- Contenedor adicional para centrar verticalmente -->
                    <h3 class="mb-0">{{ title }}</h3> <!-- Utiliza mb-0 para eliminar el margen inferior -->
                    <p class="mb-0">{{ descripcion }}</p> <!-- Utiliza mb-0 para eliminar el margen inferior -->
                    <button class="mb-0 btn btn-primary" (click)="verOpciones()" >Ver opciones</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-6">
            <img [ngSrc]="imagen" alt="imagen-habitaciones" loading="lazy" class="img-fluid" width="600" height="600">
        </div>
    </div>
    
</div>