<div class="container-fluid">
    <div class="imagen row justify-content-center">

        <h3 class="text-center">Disfruta de tu estadía</h3>



        <div class=" item col-lg-4 col-md-4 col-sm-4 d-flex align-center">
            <div>
                <h4 class="">Tenemos espacios para compartir</h4>
                <ul>
                    <div class="container-li">
                        <li class="">⚪️ Salón de juegos, lectura o televisión</li>
                        <li class="">⚪️ Comedor</li>
                        <li class="">⚪️ Parqueadero</li>
                        <li class="">⚪️ Wi-fi</li>
                    </div>
                </ul>
            </div>

        </div>
        <div class="item col-lg-4 col-md-4 col-sm-4">
            <h4 class="">También puedes conocer Filandia</h4>
            <ul>
                <div class="container-li">
                    <li>⚪️ Visitar el mirador de Filandia</li>
                    <li>⚪️ Recorrer el parque principal</li>
                    <li>⚪️ Conocer la arquitectura de la iglesia</li>
                    <li>⚪️ Disfrutar de la gastronomía local</li>
                </div>
            </ul>
        </div>

    </div>
</div>