<nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand" href="#">
      <img src="../../assets/imagen-nav/nav.png" class="img-fluid" alt="Logo">
    </a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contáctanos</a>
        </li>
      </ul>
    </div>
  </nav>
  
