<div id="nav">
    <nav class="navbar navbar-expand-sm nav-references">
        <h2 class="brand">Casa madrigal</h2>
        <div class="collapse navbar-collapse align-items-center" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="#portafolio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#carrera">Contáctanos</a>
                </li>
            </ul>
        </div>
    </nav>

</div>