<div class="container-fluid" id="container">
    <div class="imagen row justify-content-center">
        
        <div class="items col-lg-3 col-md-3 col-sm-3">
            <h6>Casa madrigal</h6> <br>
            <p>Calle # 2-14</p>
            <p>Filandia - Quindío</p>
            <p>+57 311 657 7627</p>
            <p>{{'casamadrigal@gmail.com'}}</p>
        </div>
        <div class="items col-lg-3 col-md-3 col-sm-3">
            <h6>Horarios de atención</h6> <br>
            <p>Lunes a viernes: 8:00 - 18:00</p>
            <p>Sábados: 8:00 - 12:00</p>
            <p>Domingos: 8:00 - 12:00</p>
        </div>
        <div class="items col-lg-3 col-md-3 col-sm-3">
            <h6>Redes sociales</h6> <br>
            <p>Facebook: Casa Madrigal</p>
            <p>{{'Instagram: @casamadrigal'}}</p>
            <p>{{'Twitter: @casamadrigal'}}</p>
        </div>

    </div>
</div>