<div class="row text-center" id="container">
    <h3> Algunas imágenes de nuestro hostal</h3>
    <div class="row" id="carrousel">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [ngSrc]="'/assets/carrousel/c1.jpg'" loading="lazy" class="d-block w-100 img-fluid" width="300" height="300" alt="c1">
                </div>
                <div class="carousel-item">
                    <img [ngSrc]="'/assets/carrousel/c2.jpg'" loading="lazy" class="d-block w-100 img-fluid" width="300" height="300" alt="c2">
                </div>
                <div class="carousel-item">
                    <img [ngSrc]="'/assets/carrousel/c3.jpg'" loading="lazy" class="d-block w-100 img-fluid" width="300" height="300" alt="c3">
                </div>
                <div class="carousel-item">
                    <img [ngSrc]="'/assets/carrousel/c4.jpeg'" loading="lazy" class="d-block w-100 img-fluid" width="300" height="300" alt="c4">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>