<main>
    <div class="container">

        <h2 class="text-center">Todas nuestras habitaciones tienen desayuno</h2>

        <div class="row">
            
            <app-info-habitacion
            [title]="'Habitaciones'"
            [descripcion]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis'"
            [imagen]="'../assets/info/habitacion.png'"
            ></app-info-habitacion>

            <app-info-habitacion
            [title]="'Cabañas'"
            [descripcion]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis'"
            [imagen]="'../assets/info/cabania.png'"
            ></app-info-habitacion> 

        </div>
        <div>

        </div>
    </div>
</main>
