<main>
    <div class="container">

        <h2 class="text-center">Filandia es un pueblo encantador, lleno de magia y color y nuestra casa conserva la arquitectura de las casas tradicionales. estamos ubicados en una zona tranquila, segura y muy central</h2>

        <div class="row">
            
            <app-info-habitacion
            [title]="'Habitaciones'"
            [descripcion]="'Sumérgete en un ambiente acogedor y colorido, inspirado en los vibrantes colores de la colonización antioqueña. Comodidades modernas y toques tradicionales. Disfruta de una noche de descanso reparador mientras sueñas con aventuras mágicas.'"
            [imagen]="'../assets/info/habitacion.png'"
            ></app-info-habitacion>

            <app-info-habitacion
            [title]="'Cabañas'"
            [descripcion]="'Embárcate en una aventura inolvidable en nuestra Cabaña Mágica. Inspirada en la curiosidad y el ingenio de Mirabel, esta cabaña te sorprenderá con su encanto único y su ambiente acogedor'"
            [imagen]="'../assets/info/cabania.png'"
            ></app-info-habitacion> 

        </div>
        <div>

        </div>
    </div>
</main>
