<div class="container-fluid" id="inicio">
    <div class="row" id="section">
        <div class="col-12">
            <h3 class="left-align">Bienvenidos a</h3>
            <h1 class="left-align">Casa Madrigal</h1>
            <h5 class="left-align">Hostal</h5>
            <p class="left-align">
                Donde la magia cobra vida en cada rincón, donde los sueños se entrelazan <br>
                con la realidad y la belleza se hace sentir en cada momento
            </p>
        </div>
        <!--Agrego un botón que siempre está centrado-->
    <div class="row">
        <div class="col-12" id="btn-escribenos">
            <button class="btn btn-primary" id="btn-reservar">
                <i class="bi bi-house-heart-fill"></i>
                <a href="https://wa.link/oi8zxq">Escribenos</a>
                </button>
        </div>
    </div>
    <h6 class="text-center text-light">Desliza</h6>
    <i class="bi bi-arrow-down-circle-fill text-center" id="arrow"></i>
    </div>
</div>
