#section{
    color: white;
    margin-top: -20px;
}

#btn-escribenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#btn-escribenos button{
    background-color: RGB(246,85,137);
    color: white;
    font-family: 'Montserrat';
}

#btn-escribenos button:hover{
    background-color: RGB(193,59,102);
    color: white;
    font-family: 'Montserrat';
}

#btn-escribenos button i{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat';
}

@media  (max-width: 768px) {
    #section{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: -10px;
    }
    
}

@media (max-width: 700px) {
    #section{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
    
}

h3{
    font-size: 50px;
    font-family: 'Beau Rivage';
    font-style: normal;
    font-weight: 100;
}

h1{
    font-family: 'Abhaya libre';
    font-size: 100px;
    font-style: normal;
    font-weight: 100;
}

h5{
    font-family: 'Beau Rivage';
    font-size: 40px;
    font-style: monospace;
    font-weight: 100;
    margin-top: -15px;
}

p{
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;

}

h6{
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
}

#arrow{
    font-size: 30px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-align {
    text-align: left;
}
@media (max-width: 796px) {
    .left-align {
        text-align: center;
    }
}

@media (max-width: 701px) {
    h1{
        font-size: 70px;
    }
    h3{
        font-size: 40px;
    }
    h5{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
}

@media (max-width: 290px) {

    h1{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    h5{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
}