<div id="cuarto">
    <h3 class="text-center">{{cuarto.nombre}}</h3>
    <div [id]="cuarto.idNombre" class="carousel slide">
        <div class="carousel-inner">
          @for(imagen of cuarto.imagenes; track imagen;let idx = $index){
            <div class="carousel-item" [ngClass]="{'active': idx === 0}">
              <img [src]="imagen" loading="lazy" class="d-block w-100 imagen img-fluid" [alt]="cuarto.idNombre">
            </div>
          }        
        </div>
        <button class="carousel-control-prev" type="button"[attr.data-bs-target]="'#'+cuarto.idNombre" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+cuarto.idNombre"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div>
      <h3 class="text-center">Características</h3>
      
      @if(cuarto.banio){
        <p class="text-center">
          <img src="../../assets/icons/banio.png" id="banio">Baño privado
        </p>
      }
      <p class="text-center">
        <i class="bi bi-people"></i> Capacidad: {{cuarto.numeroPersonas}}
      </p>
      
    </div>  
</div>
