/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fuente/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff');
}

@font-face {
    font-family: 'Beau Rivage';
    src: url('../src/assets/fuente/Beau_Rivage/BeauRivage-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'Aref Ruqaa ink';
    src: url('../src/assets/fuente/Aref_Ruqaa_Ink/ArefRuqaaInk-Regular.ttf') format('woff');
}
